@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: #142A52;
}

.header {
  width: 100%;
  margin: 0 auto;
  height: 130px;
  z-index: 2;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 24px;
}

.header__logo {
  width: 336px;
  height: 73px;
  margin-left: 79px;
}

.header__menu {
  height: 50px;
}

.header__contact {
  width: 287px;
  height: 69px;
  margin-right: 32px;
  padding-left: 30px;
  border-left: 2px solid #69B0F8;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
}

.menu__list {
  display: inline;
}

.menu__list:not(:last-child) {
  margin-right: 14px;
}

.menu__list:hover {
  border-bottom: 2px solid #FFFFFF;
}

.menu__link {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  color: #FFFFFF;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  display: block;
  padding: 11px 15px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-address__link {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #D4E9FF;
  margin-bottom: 11px;
}

.contact-number__link {
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 43px;
  color: #FFFFFF;
}

.promo {
  height: 980px;
  position: relative;
}

.promo__container {
  height: 980px;
}

.promo__slide1 {
  background: url(../img/promo1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.promo__slide2 {
  background: url(../img/promo2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.promo__slide3 {
  background: url(../img/promo3.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.promo__slide4 {
  background: url(../img/promo4.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.promo-title {
  position: absolute;
  top: 249px;
  left: 179px;
  z-index: 2;
  width: 705px;
  height: 176px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.promo-title__text {
  font-style: normal;
  font-weight: 800;
  font-size: 68px;
  line-height: 82px;
  color: #FFFFFF;
}

.promo-title__catalog-link {
  margin-top: 38px;
  display: block;
  padding: 11px 15px;
  padding-left: 0;
}

.promo-title__catalog-link:hover {
  color: #FFFFFF;
}

.сatalog-link {
  width: 242px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #69B0F8;
}

.swiper-pagination {
  position: absolute;
  top: 625px;
  right: 531px;
  width: auto !important;
  left: auto !important;
  margin: 0;
}

.swiper-pagination-bullet {
  background: #fff;
}

.bg-block {
  width: 100%;
  height: 897px;
  background-image: url(../img/bg-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: absolute;
  top: 465px;
  z-index: 1;
}

.bg-block__gradient {
  height: 300px;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#142A52), to(rgba(20, 42, 82, 0)));
  background: linear-gradient(360deg, #142A52 0%, rgba(20, 42, 82, 0) 100%);
  margin-top: 597px;
}

.catalog {
  margin-top: 180px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.catalog__change-block {
  width: 100%;
  height: 800px;
  background: #FFFFFF;
  border: 1px solid #ECECEC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 4px 4px 16px rgba(20, 42, 82, 0.15);
          box-shadow: 4px 4px 16px rgba(20, 42, 82, 0.15);
  border-radius: 12px;
  z-index: 2;
  margin-left: 20px;
}

.catalog__img {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 33% 34%;
      grid-template-columns: 33% 33% 34%;
  -ms-grid-rows: 232px 125px 229px 94px;
      grid-template-rows: 232px 125px 229px 94px;
}

.catalog__img > img {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.catalog__hr {
  color: #D3D3D3;
  margin-top: 46px;
}

.catalog__text-link {
  margin-top: 23px;
  margin-left: 44px;
}

.catalog-link:hover {
  color: #000000;
}

.catalog-menu {
  margin-left: 40px;
  z-index: 1;
  height: 2500px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 455px 455px;
      grid-template-columns: 455px 455px;
  -ms-grid-rows: 340px 340px 340px 340px  340px  340px 340px;
      grid-template-rows: 340px 340px 340px 340px  340px  340px 340px;
  grid-gap: 20px;
}

.catalog-menu__img {
  border-radius: 16px;
}

.catalog-card {
  position: relative;
}

.catalog-tag {
  position: absolute;
  width: 323px;
  height: 62px;
  background: #F79829;
  border-radius: 40px 0px 0px 0px;
  bottom: 0px;
  right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.catalog-tag__text {
  font-weight: bold;
  font-size: 21px;
  line-height: 25px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.trade-in {
  position: relative;
  margin-top: 83px;
  width: 100%;
  height: 840px;
  background-image: url(../img/trade-in_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.trade-in__title {
  margin: 0px 113px 0px 1102px;
  padding-top: 130px;
  font-style: normal;
  font-weight: 800;
  font-size: 68px;
  line-height: 82px;
  color: #13293E;
}

.trade-in-block {
  margin-left: 1102px;
  margin-top: 41px;
  width: 481px;
  height: 111px;
}

.trade-in__text1 {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #F79829;
}

.trade-in__text2 {
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 25px;
  color: #13293E;
}

.trade-in-cards {
  height: 920px;
  width: 930px;
  position: absolute;
  top: -145px;
  left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.trade-in-card {
  width: 455px;
  height: 440px;
  background: #FFFFFF;
  border: 1px solid #ECECEC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 4px 4px 16px rgba(20, 42, 82, 0.15);
          box-shadow: 4px 4px 16px rgba(20, 42, 82, 0.15);
  border-radius: 12px;
}

.trade-in-card__title {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #13293E;
  margin-top: 20px;
  margin-left: 30px;
}

.trade-in-card__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.trade-in-card__old-price {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #C4C4C4;
  text-decoration: line-through;
}

.trade-in-card__new-price {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 25px;
  color: #69B0F8;
  margin-left: 20px;
}

.trade-in-photo {
  width: 100%;
}

.trade-in-photo__image {
  width: 100%;
  border-radius: 12px 12px 0 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.promo2 {
  height: 400px;
  width: 100%;
  background: #F2F5F8;
  background-image: url(../img/promo2-bg.png);
  background-repeat: no-repeat;
  background-position: right center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.promo2__title {
  width: 705px;
  height: 176px;
  font-style: normal;
  font-weight: 800;
  font-size: 68px;
  line-height: 82px;
  color: #13293E;
}

.promo2__title > span:last-child {
  font-style: normal;
  font-weight: 800;
  font-size: 68px;
  line-height: 82px;
  color: #F79829;
}

.promo2-bg {
  padding: 76px 153px 76px 138px;
  background: #FFFFFF;
  -webkit-box-shadow: 4px 4px 16px rgba(20, 42, 82, 0.15);
          box-shadow: 4px 4px 16px rgba(20, 42, 82, 0.15);
  border-radius: 12px;
}

.promo2__text {
  width: 481px;
  height: 78px;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 25px;
  color: #13293E;
}

.map {
  height: 580px;
  width: 100%;
}

.map__bg {
  height: 100%;
  width: 100%;
  background-image: url(../img/map-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.promo3 {
  height: 400px;
  width: 100%;
  background-color: #bg_color;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.promo3-content {
  width: 1564px;
  height: 270px;
  background-image: url(../img/promo3-bg.jpg);
  -webkit-box-shadow: 4px 4px 16px rgba(20, 42, 82, 0.15);
          box-shadow: 4px 4px 16px rgba(20, 42, 82, 0.15);
  border-radius: 12px;
}

.promo3-content__bg {
  width: 1564px;
  height: 270px;
}

.promo3-text {
  width: 756px;
  height: 166px;
  margin: 52px 258px 52px 550px;
}

.promo3-text__text {
  font-style: normal;
  font-weight: 800;
  font-size: 68px;
  line-height: 82px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.promo3-text__text_second {
  font-style: normal;
  font-weight: 800;
  font-size: 68px;
  line-height: 82px;
  color: #F79829;
}

.callback {
  width: 100%;
  height: 1130px;
  background-image: url(../img/callback-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.callback-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.callback-block {
  margin-top: 59px;
  margin-left: 183px;
  width: 772px;
  height: 525px;
  background: #FFFFFF;
  border: 1px solid #ECECEC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 4px 4px 16px rgba(20, 42, 82, 0.15);
          box-shadow: 4px 4px 16px rgba(20, 42, 82, 0.15);
  border-radius: 12px;
}

.callback-block__title {
  width: 343px;
  margin: 35px auto 0 auto;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 43px;
  color: #13293E;
}

.callback-forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.callback-block-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.callback__input {
  margin: 30px 0 0 0;
  border-radius: 8px;
  border: 1px solid #C4C4C4;
  width: 337px;
  padding: 22px 187px 23px 16px;
}

.callback__input_message {
  width: 337px;
  height: 258px;
  padding: 22px 196px 22px 16px;
  resize: none;
}

.callback__checkbox {
  margin-top: 40px;
  width: 346px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.callback__checkbox input {
  margin-right: 20px;
}

.button-sent {
  background: #69B0F8;
  border-radius: 16px;
  width: 350px;
  height: 60px;
  outline: none;
  margin: 40px 211px 0 211px;
}

.button-sent:hover {
  background: #F79829;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.button-sent__text {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  padding-top: 22px;
  padding-left: 100px;
}

.contacts {
  width: 767px;
  margin-left: 20px;
}

.contacts__title {
  width: 448px;
  height: 235px;
  padding-top: 59px;
  margin-left: 159px;
  font-style: normal;
  font-weight: 800;
  font-size: 68px;
  line-height: 82px;
  color: #FFFFFF;
}

.contacts__text {
  margin-top: 25px;
  margin-left: 159px;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 43px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__text::before {
  content: " ";
  width: 30px;
  height: 2px;
  background: #69B0F8;
  margin-right: 24px;
}

.contacts-cards {
  margin-top: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 282px;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.contacts-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts-card__img {
  border-radius: 16px;
}

.contacts-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 28px;
}

.contacts-info__FIO {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #FFFFFF;
}

.contacts-info__number {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #69B0F8;
  margin-left: 10px;
}

.number-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.instagram-block {
  width: 525px;
  height: 89px;
  margin: 0 auto;
  margin-top: 75px;
}

.instagram__title {
  font-style: normal;
  font-weight: 800;
  font-size: 68px;
  line-height: 82px;
  color: #FFFFFF;
}

.instagram-photos {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 80px 20px 0 20px;
}

.instagram-drop {
  display: none;
}

.instagram-drop__insta-svg {
  position: absolute;
  top: 158px;
  left: 158px;
}

.instagram-drop__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.instagram-drop__comm-svg {
  position: absolute;
  top: 322px;
  left: 211px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
}

.instagram-drop__likes-svg {
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  top: 322px;
  left: 282px;
  margin-left: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
}

.photos-block:hover > a .instagram-drop {
  display: block;
}

.footer {
  width: 100%;
  height: 538px;
  background: #1A2436;
}
/*# sourceMappingURL=style.css.map */