$main_color_text : #FFFFFF;
$padding_button : 11px 15px;
    
* 
    box-sizing: border-box
    font-family: 'Exo 2', sans-serif

a
    text-decoration: none

body 
    background-color: #142A52
.header 
    width: 100%
    margin: 0 auto
    height: 130px
    z-index: 2
    position: absolute
    display: flex
    justify-content: space-between
    padding-top: 24px
    &__logo
        width: 336px
        height: 73px
        margin-left: 79px
    &__menu
        height: 50px
    &__contact
        width: 287px
        height: 69px
        margin-right: 32px
        padding-left: 30px
        border-left: 2px solid #69B0F8

.menu
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    padding: 0
    &__list
        display: inline
    &__list:not(:last-child)
        margin-right: 14px
    &__list:hover
        border-bottom: 2px solid #FFFFFF
    &__link
        font-style: normal
        font-weight: normal
        font-size: 13px
        line-height: 19px
        color: $main_color_text
        letter-spacing: 0.15em;
        text-transform: uppercase
        display: block
        padding: $padding_button

.contact 
    display: flex
    flex-direction: column
    &-address__link
        font-style: normal
        font-weight: normal
        font-size: 15px
        line-height: 22px
        color: #D4E9FF
        margin-bottom: 11px
    &-number__link
        font-style: normal
        font-weight: 300
        font-size: 36px
        line-height: 43px
        color: $main_color_text

.promo
    height: 980px
    position: relative
    &__container
        height: 980px
    &__slide1
        background: url(../img/promo1.jpg) no-repeat
        background-size: cover
        background-position: center
    &__slide2
        background: url(../img/promo2.jpg) no-repeat
        background-size: cover
        background-position: center
    &__slide3
        background: url(../img/promo3.jpg) no-repeat
        background-size: cover
        background-position: center
    &__slide4
        background: url(../img/promo4.jpg) no-repeat
        background-size: cover
        background-position: center
    &-title
        position: absolute
        top: 249px
        left: 179px
        z-index: 2
        width: 705px
        height: 176px
        display: flex
        flex-direction: column
        &__text
            font-style: normal
            font-weight: 800
            font-size: 68px
            line-height: 82px
            color: $main_color_text
        &__catalog-link
            margin-top: 38px
            display: block
            padding: $padding_button
            padding-left: 0
            &:hover
                color: $main_color_text     
.сatalog-link
    width: 242px
    font-style: normal
    font-weight: normal
    font-size: 13px
    line-height: 19px
    letter-spacing: 0.15em
    text-transform: uppercase
    color: #69B0F8

.swiper-pagination
    position: absolute
    top: 625px
    right: 531px
    width: auto !important
    left: auto !important
    margin: 0
    &-bullet
        background: #fff

.bg-block
    width: 100%
    height: 897px
    background-image: url(../img/bg-1.png)
    background-size: cover
    background-repeat: no-repeat
    background-position: top
    position: absolute
    top: 465px
    z-index: 1
    &__gradient
        height: 300px
        width: 100%
        background: linear-gradient(360deg, #142A52 0%, rgba(20, 42, 82, 0) 100%)
        margin-top: 597px

.catalog
    display: grid
    grid-template-columns: 50% 50%
    &__change-block
        width: 930px
        height: 800px
        background: #FFFFFF
        border: 1px solid #ECECEC
        box-sizing: border-box
        box-shadow: 4px 4px 16px rgba(20, 42, 82, 0.15)
        border-radius: 12px
        z-index: 2
        margin-left: 20px
        margin-top: 180px
    &__img
        display: grid
        grid-template-columns: 33% 33% 34%
        grid-template-rows: 167px+65px 92px+33px 167px+62px 74px+20px
    &__img > img
        justify-self: center
        align-self: center
    &__hr
        color: #D3D3D3
        margin-top: 46px
    &__text-link
        margin-top: 23px
        margin-left: 44px
.сatalog-link:hover
        color: #000000
        
